version_marc/sudoku.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sudoku">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="grille">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                  <xs:documentation> &lt;cell row = 1 col = 1 region= 1>5&lt;/cell> </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cell" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="col" use="optional"/>
                            <xs:attribute type="xs:byte" name="region" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="index" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>